<div class="main-content book-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" id="listcard">
          <div class="card-header card-header-blue card-header-icon">
            <div class="card-text">
              <h4 class="card-title">Chiqimlar Ro'yxati</h4>
              <p class="card-category">
                Bu yerda CHIQIMLAR Ro'yxati saqlanadi!
              </p>
            </div>
            <button
              (click)="addExpense()"
              class="card-text mat-button card-header-success"
            >
              <h4 style="font-weight: bold" class="card-title">
                Chiqim qo'shish +
              </h4>
            </button>
          </div>

          <div class="card-body">
            <div class="material-datatables">
              <div class="row">
                <!-- Filter based on book category -->
                <div class="col-sm-4 col-lg-2">
                  <mat-form-field>
                    <mat-select
                      placeholder="Kategoriyasi bo'yicha"
                      name="category"
                    >
                      <mat-option [value]="null" (click)="loadExpenses()"
                        >None</mat-option
                      >
                      <mat-option
                        *ngFor="let cat of expenseCats"
                        [value]="cat.id"
                        (click)="applyFilters(cat.id, '', '')"
                      >
                        {{ cat.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- filter based on book title -->
                <div class="col-sm-4 col-lg-2" style="display: inline-flex">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      type="text"
                      placeholder="Izoh bo'yicha..."
                      (input)="applyFilters('', $event.target.value, '')"
                    />
                  </mat-form-field>
                </div>

                <!-- filter based on book title -->
                <div class="col-sm-4 col-lg-2" style="display: inline-flex">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      type="text"
                      placeholder="Admin IDsi bo'yicha..."
                      (input)="applyFilters('', '', $event.target.value)"
                    />
                  </mat-form-field>
                </div>

                <div lass="col-sm-3 col-lg-1">
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="danPicker"
                      placeholder="...dan"
                      (click)="danPicker.open()"
                      (dateChange)="fromFunction($event)"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="danPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #danPicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-3 col-lg-2">
                  <mat-form-field>
                    <input
                      matInput
                      [matDatepicker]="gachaPicker"
                      placeholder="...gacha"
                      (click)="gachaPicker.open()"
                      (dateChange)="toFunction($event)"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="gachaPicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #gachaPicker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-sm-2 col-lg-1">
                  <button
                    mat-raised-button
                    (click)="getListOfExpensesWithDate()"
                    class="btn btn-success btn-round btn-block"
                  >
                    <span class="material-icons"> manage_search </span>
                  </button>
                </div>
                <!-- downlaodExcel -->
                <div class="col-sm-2 col-lg-1">
                  <button
                    mat-raised-button
                    (click)="downlaodExcel()"
                    class="btn btn-success btn-round btn-block"
                  >
                    <span class="material-icons"> download </span>
                  </button>
                </div>
                <ul class="pagination" *ngIf="needPagination">
                  <!--  <li class="page-item">
                                  <a mat-button class="page-link" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                  </a>
                                </li> -->
                  <li
                    class="page-item"
                    [ngClass]="{ active: currentPage == i }"
                    *ngFor="let page of mypages; index as i"
                  >
                    <a mat-button class="page-link" (click)="pagebyNum(i)">{{
                      i + 1
                    }}</a>
                  </li>
                  <!-- <li class="page-item">
                                  <a mat-button class="page-link" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                  </a>
                                </li> -->
                </ul>
              </div>
              <div class="table-responsive">
                <table
                  class="table table-striped table-no-bordered table-hover"
                  cellspacing="0"
                  width="100%"
                  style="width: 100%"
                  matSort
                  (matSortChange)="sortData($event)"
                >
                  <thead>
                    <tr>
                      <th class="text-center" mat-sort-header="id">
                        {{ tableData1.headerRow[0] }}
                      </th>
                      <th class="text-center" mat-sort-header="uzs_cash">
                        {{ tableData1.headerRow[1] }}
                      </th>
                      <th class="text-center" mat-sort-header="usd_cash">
                        {{ tableData1.headerRow[2] }}
                      </th>
                      <th class="text-center" mat-sort-header="card">
                        {{ tableData1.headerRow[3] }}
                      </th>
                      <th class="text-center" mat-sort-header="account">
                        {{ tableData1.headerRow[4] }}
                      </th>
                      <th class="text-center">{{ tableData1.headerRow[5] }}</th>
                      <th class="text-center">{{ tableData1.headerRow[6] }}</th>
                      <th class="text-center">{{ tableData1.headerRow[7] }}</th>
                      <th class="text-center">{{ tableData1.headerRow[8] }}</th>
                      <th class="text-center">{{ tableData1.headerRow[9] }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let row of expenseList; let i = index"
                      class="text-center"
                    >
                      <td
                        class="text-center index-cell"
                        style="font-weight: bolder"
                      >
                        {{ i + 1 }}
                      </td>
                      <td>
                        {{ row.uzs_cash | currency : " " : "symbol" : "1.0-0" }}
                        {{ row.uzs_cash ? "Sum" : "" }}
                      </td>
                      <td>
                        {{ row.usd_cash | currency : " " : "symbol" : "1.0-0" }}
                        {{ row.usd_cash ? "$" : "" }}
                      </td>
                      <td>
                        {{ row.card | currency : " " : "symbol" : "1.0-0" }}
                      </td>
                      <td>
                        {{ row.account | currency : " " : "symbol" : "1.0-0" }}
                      </td>
                      <td>{{ row.comment }}</td>
                      <td>{{ row.admin_id ? row.admin_id : "" }}</td>

                      <td>{{ row.category.name }}</td>
                      <td>{{ row.date | date : "dd.MM.yyyy HH:MM" }}</td>
                      <td class="td-actions text-right">
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-link btn-success btn-just-icon"
                          (click)="editExpense(row)"
                        >
                          <i class="material-icons">edit</i>
                        </button>
                        <button
                          mat-raised-button
                          type="button"
                          class="btn btn-link btn-danger btn-just-icon"
                          (click)="delete(row.id)"
                        >
                          <i class="material-icons">delete</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <p class="backend-error" *ngIf="errorMessage">{{ errorMessage }}</p>
      </div>
    </div>
  </div>
</div>
